
.dv{
width: 100%;
}
.dv .container .container2{
margin-top: 20px;
}


#boxprod{
  align-items: center;
  justify-content: space-between;
  display: flex;

}
.a{
  text-decoration: none;

}
#delete{

  
  height: 25px;
  font-size: 10px;
}


#boxclient{
  align-items: center;
  justify-content: space-between;
  display: flex;

}

#tdDescrição{

  font-size: 10px;
  text-decoration: none;
}
#tdDescrição1{

  font-size: 8px;
  text-decoration: none;

}

#tdCodigo{
  font-size: 8px;

width: 5px;
 height: auto;
}

#input{
font-size: 8px;
}
#idDescriçãoclient{
  font-size: 8.5px;
  margin-left: 5px;
}
.title{
  font-size: 15px;
  text-decoration: none;

}