@media only screen and (max-width: 320px) {
  *{
    font-size: 6px;
  }
}


.dv{
width: 100%;
}
.dv .container .container2{
margin-top: 20px;
}


#boxprod{
  align-items: center;
  justify-content: space-between;
  display: flex;

}
.a{
  text-decoration: none;

}
#delete{

  border-radius: 100px;
}


#boxclient{
  align-items: center;
  justify-content: space-between;
  display: flex;

}

